{
    "extends": ["eslint:recommended", "plugin:react/recommended"],
    "parserOptions": {
        "ecmaVersion": 8,
        "ecmaFeatures": {
            "experimentalObjectRestSpread": true,
            "jsx": true
        },
        "sourceType": "module"
    },

    "env": {
        "es6": true,
        "node": true
    },

    "plugins": ["import", "node", "promise", "standard", "react"],

    "globals": {

        "document": false,
        "navigator": false,
        "window": false,
        "chrome": true,
        "React": true,
        "ReactDOM": true
    },
    "rules": {
        "semi": ["error", "always"],
        "no-unused-vars": [
            "error",
            {
                "vars": "all",
                "args": "after-used",
                "ignoreRestSiblings": false
            }
        ],
        "react/jsx-uses-react": "error",
        "react/jsx-uses-vars": "error",
        "no-console":0
    }
}